__pycache__/
.ipynb_checkpoints
.vscode
/dist/
/*.egg-info
*.pyc
/build/

tests/testing_directory.txt
.idea
uv.lock

# Coverage files
.coverage
.coverage.*
htmlcov/
*.cover
.hypothesis/
.pytest_cache/
coverage.xml
*.coverage